joblib==1.2.0
numpy==1.22.0
pandas==1.0.1
Flask==2.3.2
nltk==3.6.6
scikit_learn==0.23.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==2.2.3
scipy>=0.15.1
matplotlib>=1.4.3
streamlit==1.30.0
